#root {
  width: '100%';
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.item1 {
  grid-area: header;
  background-color: black;
  /* position: fixed; */
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
  height: 100vh;
  /* padding-top: 20px; */
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
  height: 0px;
  /* width: 100%; */
  background: #000000;
}

.grid-container {
  display: grid;
  /* width: 100; */
  grid-template-columns: 250px auto auto auto auto auto;
  grid-template-areas:
    'menu header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #000000;
  padding: 10px;
}

.grid-container-closed {
  display: grid;
  /* width: 100; */
  grid-template-columns: 99% auto auto auto auto;
  grid-template-areas:
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
  gap: 10px;
  background-color: #000000;
  padding: 10px;
}

.grid-container-closed > div {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 0px 0;
  /* font-size: 25px; */
}

.grid-container > div {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 0px 0;
  /* font-size: 25px; */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 500px) {
  div {
    
    /* font-size: 10px; */
  }
  .item1 {
    width: 400px;
  }
  .item3 {
    width: 400px;
  }
  .item5 {
    height: 0px;
  }
  .grid-container {
    max-width: 400px;
    display: grid;
    /* width: 100; */
    grid-template-columns: 250px 150px;
    grid-template-areas:
      'menu header'
      'menu main'
      'menu footer';
    gap: 10px;
    background-color: #000000;
    padding: 10px;
  }
  .grid-container > div {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 0px 0;
    /* font-size: 25px; */
  }
  .grid-container-closed {
    display: grid;
    /* width: 100; */
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    gap: 10px;
    background-color: #000000;
    padding: 10px;
  }
}

.card {
  padding-top: 2em;
  padding-bottom: 2em;
}

.read-the-docs {
  color: #888;
}
